<div class="theme1">
    <div class="container">
        <div class="top-padding">
            <div class="new-todo">
                <form class="todo-form" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
                    <span>Create a TODO: </span>
                    <input type="text" class="input-form-control" formControlName="name" placeholder="What needs to be done?">
                    <br><br>
                    <input type="text" class="input-form-control"  formControlName="description" placeholder="Write a description.">
                    <input type="submit" class="hidden" value="Create TODO" />
                </form>
            </div>

            <div class="filter-todo">

            </div>

            <div class="todo-list">
                <div *ngFor="let todo of todos" class="todo-item" [ngClass]="todo.status ? 'done-todo' : ''">
                    <div class="todo-status">
                        <button class="btn-icon" (click)="doneTodo(todo.id, !todo.status)">
                            <span class="icon done-icon material-icons">done</span>
                        </button>
                    </div>
                    <div class="todo-info">
                        <span class="todo-title">{{todo.name}}</span> <br>
                        <span class="todo-description">{{todo.description}}</span>
                    </div>
                    <div class="todo-action-btn">
                        <button class="btn-icon edit-btn" (click)="editTodo(todo.id, todo.name, todo.description)">
                            <span class="icon material-icons">edit</span>
                        </button>

                        <button class="btn-icon">
                            <span class="icon material-icons" (click)="deleteTodo(todo.id)">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
