/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(50, 50, 50);
    color: #fff;
}

.fr-element.fr-view, .second-toolbar{
    background-color: rgb(50, 50, 50) !important;
    color: white !important;
}