.todo-form .input-form-control{
    outline: none;
    border: 0;
    border-bottom: 1px dotted #666;
    border-radius: 0;
    padding: 0 0 5px 0;
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}

.hidden{
    display: none;
    visibility: hidden;
}
